URxvt*font:             xft:Terminus:size=16
URxvt*scrollBar:        false
URxvt*depth:            32

Xft.dpi:                192

!color
URxvt*background:       #E3D0C3
URxvt*foreground:       #36454f 
